<div class="py-3">
  <button class="btn btn-rounded btn-dark my-3 p-2" (click)="addProduct()">
    Add Product
  </button>
  <ng-container *ngIf="products$ | async as products">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Id</th>
          <th>Name</th>
          <th>Price</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let product of products">
          <td>{{ product.id }}</td>
          <td>{{ product.name }}</td>
          <td>{{ product.price }}</td>
          <td>
            <button
              class="btn btn-rounded btn-danger"
              (click)="removeProduct(product.id)"
            >
              Remove
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </ng-container>
</div>
